<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur</title>
    <link rel="stylesheet" th:href="@{/css/pae.css}" />
</head>
<body>

    <header th:replace="~{fragments/main.html::headerId}"></header>

    <nav th:replace="~{fragments/main.html::navbar}"></nav>
    
    <header>Erreur</header>
    <main>
        <p th:text="${errorMessage}"></p>
        <a th:href="@{/courses}">Retour à la liste des cours</a>
    </main>
</body>
</html>
