<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Gestion du Programme des Étudiants</title>
    <link rel="stylesheet" th:href="@{/css/pae.css}">
</head>
<body>
    <header layout:fragment="headerId">
        <img th:src="@{/css/Logo-esi.png}" alt="School's Logo" style="max-width: 50px; margin-right: 10px;">
        <h1>Programme annuel des étudiants</h1>
        <h2>HE2B-ÉSI PAE 2024-2025</h2>
    </header>

    <nav layout:fragment="navbar">
        <ul class="navbar-nav" style="display: flex; list-style-type: none; padding: 10;">
            <li class="nav-item" style="margin-right: 15px;">
                <a class="nav-link" th:href="@{/}">Accueil</a>
            </li>
            <li class="nav-item" style="margin-right: 15px;">
                <a th:href="@{/courses}">Cours</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/students}">Étudiant</a>
            </li>
        </ul>
    </nav>

    <main layout:fragment="content">
       
    </main>

    <footer layout:fragment="footer">
        <p>&copy; 2024 - Gestion du Programme des Étudiants</p>
    </footer>
</body>
</html>
